html,
body { height: 100%; margin: 0; background: #fff; color: #444; }

html, body, code, input, select { font: normal normal/1.5 em monospace; }

h2 { margin: 0 0; padding: 0.5em; }

fieldset { border: none; padding: 0; margin: 0; }
select { margin: 0 0 1em 0; }
input[type="checkbox"] { margin: 0; vertical-align: middle; line-height: normal; }
button { position: relative; display: inline-block; margin: 0; padding: 0.25em 0.5em 0.5em; font-size: 1em; line-height: 1em; text-decoration: none; text-align: center; color: #333; background-color: #e6e6e6; border: 1px solid #ccc; cursor: pointer; }
button:hover,
button:focus { color: #333; background-color: #ccc; }

header { position: relative; height: 2.5em; padding: 0.5em 0 0; color: #ccc; background: #222; }
header h1 { position: absolute; top: 0.5em; left: 1em; margin: 0; padding: 0; font-size: medium; font-weight: normal; }
header form { position: absolute; top: 0.5em; right: 1em; display: block; margin: 0; }

section { position: relative; margin: 0 1em; }
section form { position: absolute; top: 0.5em; right: 1em; display: block; margin: 0; }

div.percentage { position: relative; display: block-inline; margin: 0; text-transform: capitalize; font-size: smaller; font-family: inherit; font-weight: normal; line-height: 2em; border: 0.1em solid #999; box-shadow: 0.1em 0.1em 0.1em #fff; overflow: hidden; white-space: nowrap; }
div.percentage span { position: relative; display: block; float: left; height: 100%; }
div.percentage span.class { background: #bdea74; background-image: -moz-linear-gradient(center top, #bdea74 0%, #9bc852 100%); }
div.percentage span.require { background: #eae874; background-image: -moz-linear-gradient(center top, #eae874 0%, #c8c652 100%); }
div.percentage span.procedural { background: #fa603d; background-image: -moz-linear-gradient(center top, #fa603d 0%, #d8401b 100%); }
div.percentage span.recursion { background: #ff0099; background-image: -moz-linear-gradient(center top, #ff0099, #dd0077 100%); }
div.percentage span.internal { background: #67c2ef; background-image: -moz-linear-gradient(center top, #67c2ef 0%, #45a0cd 100%); }
div.percentage span:before { content: '.'; position: absolute; top: 0; left: -0.1em; height: 3em; width: 0.1em; color: transparent; background: rgba(0, 0, 0, 0.25); }

section table { width: 100%; margin: 1em 0 1.25em 0; font-size: smaller; background: #fff; border-collapse: collapse; border: solid 1px #ddd; }

section table thead,
section table tfoot { font-weight: bold; background: #ddd; }

section table tr th,
section table tr td { padding: 0.5em 1em; line-height: 1.5em; text-align: left; vertical-align: top; border: solid 1px #ddd; }

section.trace > table > thead > tr > th:nth-child(1) { width: 2em; }
section.trace > table > thead > tr > th:nth-child(3) { width: 2em; }
section.trace > table > thead > tr > th:nth-child(4) { width: 10em; }
section.trace > table > thead > tr > th:nth-child(5) { width: 12em; }
section.trace > table > thead > tr > th:nth-child(6) { width: 15em; }
section.trace > table > tbody > tr > td:nth-child(n+4) { text-align: right; }

section.trace > table table > thead > tr > th:nth-child(2) { width: 4em; }
section.trace > table table > thead > tr > th:nth-child(3) { width: 12em; }
section.trace > table table > thead > tr > th:nth-child(4) { width: 2em; }
section.trace > table table > tbody > tr > td:nth-child(n+2) { text-align: right; }

section.trace table tbody > tr:nth-child(even) { background: #fafafa; }
section.trace table tbody > tr:hover { background: #def; }

section.trace table thead tr th,
section.trace table tfoot tr th,
section.trace table tbody tr td,
section.trace table tr td,
section.trace table tfoot tr td { display: table-cell; line-height: 1.125em; }

section.trace table a.file { display: block; width: 11px; height:11px; background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAALCAMAAABxsOwqAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAAAA////pdmf3QAAAAJ0Uk5T/wDltzBKAAAAH0lEQVR42mJgAAJGMIBSYCYckCCKwwQGLKJAJkCAAQAP8ABAqwkTRgAAAABJRU5ErkJggg==') center no-repeat; }

section span.type { display: inline-block; width: 1em; height: 1em; border: 0.1em solid #777; box-shadow: 0.1em 0.1em 0.1em #aaa; }
section span.type.class { background: #be7; }
section span.type.require { background: #ee7; }
section span.type.procedural { background: #f63; }
section span.type.recursion { background: #f09; }
section span.type.internal { background: #6ce; }

section.file table tr td,
section.file table tr td span { white-space: nowrap; }
section.file table tr td:nth-child(1) { position: relative; width: 3em; padding: 0 0.5em 0 0; text-align: right; color: #999; z-index: 1; }
section.file table tr td:nth-child(2) { position: relative; padding: 0 0 0 0.5em; z-index: 2; }

section.graph ol { position: relative; padding: 0 0 0 4em; margin: 0; list-style: none; font-size: smaller; }
section.graph ol li { list-style: none; line-height: 2.5em; }
section.graph ol li span { margin-right: 1em; }

section.graph > ol ol:before { content: '.'; position: absolute; top: 0; left: 0.5em; height: 100%; width: 1em; color: transparent; border-left: 0.1em dashed #aaa; }

footer { position: relative; width: 100%; padding: 0; line-height: 2em; background: #fff; border-top: 0.2em solid #aef; }